.error-label {
  background-color: rgba(255, 0, 0, 0.5);
  height: fit-content;
  width: 50vw;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  padding: 2%;
}

.error-label-none {
  display: none;
}
