.error-label {
  background-color: rgba(255, 0, 0, 0.5);
  height: 10vh;
  width: 50vw;
  display: flex;
  align-items: center;
  border-radius: 10px;

  justify-content: center;
}

.error-label-none {
  display: none;
}
